[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=REAPER
Comment=REAPER
Categories=Audio;Video;AudioVideo;AudioVideoEditing;Recorder;
Exec=LD_PATH=$HOME/.reaper/REAPER/FFMPEG:$LD_PATH LD_LIBRARY_PATH=$HOME/.reaper/REAPER/FFMPEG:$LD_LIBRARY_PATH WINEFSYNC=1 "/home/artofmusic/.reaper/REAPER/reaper" %F
Icon=cockos-reaper
MimeType=application/x-reaper-project;application/x-reaper-project-backup;application/x-reaper-theme
StartupWMClass=REAPER
